<%- include('../partials/header') %>

<body>
  <h1> <%= title %></h1>
<br>
<br>
<br>


<div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>


<form id="add-team-nav" method="GET" action="/teams/<%= user._id %>/new">
<button type="button" class="btn btn-secondary">Create New Team</button>
</form>
     


<%- include('../partials/footer') %>